a {
  color: #ccc;
}

input[readonly],
select {
  border-color: #ccc;
  background-color: #16161f;
}

body {
  color: #ccc;
}

.wrapper {
  background-color: #1f2025;
}

.navi__lists {
  border-top-color: #304a5d;
  border-bottom-color: #304a5d;
}

.navi__list {
  border-right-color: #304a5d;
}

.navi__list__btn {
  background-color: #16161f;
}

h2 {
  border-top-color: #000;
  border-bottom-color: #000;
  background-color: #072d13;
}

.footer__copyright {
  background-color: #16161f;
}

.info-window__btn {
  color: #00f;
}

.search {
  border-color: #ccc;
  background-color: #131321;
}

.search__week__param {
  background-color: #202025;
  border-color: #999;
}

.search__week__param.selected {
  background-color: #999;
  color: #131321;
}

.tide__simple__box table {
  border-color: #999;
}

.tide__simple__box th,
.tide__simple__box td {
  border-top-color: #999;
  border-bottom-color: #999;
  border-left-color: #999;
  border-right-color: #999;
  color: #bbb;
}

.tide__simple__box th {
  background-color: #111;
}

.tide__simple__box tr:nth-child(2n) {
  background-color: #333;
}

.tide__simple__box tr:nth-child(2n-1) {
  background-color: #222;
}

.tide__detail__box table {
  border-color: #999;
}

.tide__detail__box th,
.tide__detail__box td {
  border-top-color: #999;
  border-bottom-color: #999;
  border-left-color: #999;
  border-right-color: #999;
  color: #bbb;
}

.tide__detail__box th {
  background-color: #111;
}

.tide__detail__box tr:nth-child(4n),
.tide__detail__box tr:nth-child(4n-1) {
  background-color: #333;
}

.tide__detail__box tr:nth-child(4n-2),
.tide__detail__box tr:nth-child(4n-3) {
  background-color: #222;
}

.max--simple {
  background-color: #350000;
}

.max--detail {
  background-color: #730000;
}

.min--simple {
  background-color: #00142d;
}

.min--detail {
  background-color: #123f77;
}

.tide__detail__box td.max--detail,
.tide__detail__box td.min--detail {
  color: #fff;
}
