.tide {
    margin: 10px;
    &__simple {
        margin-bottom: 30px;
        &__box {
            table {
                width: 100%;
                border: 1px solid #ccc;
            }
            th,
            td {
                padding: 6px 1px;
                text-align: center;
                font-size: 80%;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-left: 1px dashed #ccc;
                border-right: 1px dashed #ccc;
            }
        }
    }
    &__detail {
        &__box {
            table {
                width: 100%;
                border: 1px solid #ccc;
            }
            th,
            td {
                padding: 8px 1px;
                text-align: center;
                font-size: 80%;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-left: 1px dashed #ccc;
                border-right: 1px dashed #ccc;
            }
        }
    }
    &__name {
        display: block;
        padding-top: 5px;
        text-align: center;
        font-size: 80%;
    }
}



